<h2>Deployer</h2>

<form>
  <p>
    Deploy
    <input type="text" name="branch" ng-model="branch" ng-show="env == 'stage'" placeholder="Branch name" />
    to
    <select name="env" ng-model="env">
      <option value="stage">Stage</option>
      <option value="prod">Prod</option>
    </select>

    <span ng-hide="advanced">
      Tags:
      <label><input type="checkbox" ng-model="tag_updt" disabled="disabled"> updt_streambed</label>
      <a href="#" ng-click="advanced = true">Advanced ...</a>
    </span>

    <div ng-show="advanced">
      <p>Tags: <a href="#" ng-click="advanced = false">Back to basics ...</a>
</p>
      <dl>
        <dt><label><input type="checkbox" ng-model="tag_updt" disabled="disabld"> updt_streambed</label></dt><dd>Updates streambed source code, collects and compresses assets, and gracefully reloads streambed.</dd>
        <dt><label><input type="checkbox" ng-model="tag_config"> global_config,restart_streambed</label></dt>
        <dd>Updates <code>/etc/plotly_global_vars.sh</code> and restarts the uWSGI process to re-read global config.</dd>
        <dt><input type="text" ng-model="custom_tags" placeholder="Comma separated tags"></dt>
        <dd>Any tags available in the <code>deploy/</code> repo tasks</dd>
      </dl>
    </div>

    <br/>
    <button ng-click="deploy()">Deploy</button> <label><input type="checkbox" ng-model="clear_on_deploy" /> Clear on Deploy</label>
  </p>
</form>


<p>Logs: <button ng-click="messages = []">Clear</button></p>

<ul>
  <li ng-repeat="msg in messages track by $index">{{msg}}</li>
</ul>
